.fondoBanner1 {
  background: url('/works/fondo3.webp') no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  overscroll-behavior: none; /* Evita rebote en iOS */
  touch-action: none; /* Si tienes scroll bloqueado */
}
