.fondoBanner1 {
  background: url('/works/bannerblue.webp') no-repeat;
  background-size: cover;
  background-position: top left;
  width: 100%;
}

.fondoBanner2 {
  background: url('/works/topCombat/bannerCombat.webp') no-repeat;
  background-size: cover;
  background-position: top left;
  width: 100%;
}
.fondoBanner3 {
  background: url('/works/megapolvos/banner.webp') no-repeat;
  background-size: cover;
  background-position: top left;
  width: 100%;
}

.fondoBanner4 {
  background: url('/works/constructoraFlores/banner.webp') no-repeat;
  background-size: cover;
  background-position: top left;
  width: 100%;
}

.fondoBanner5 {
  background: url('/works/sonqu/banner.webp') no-repeat;
  background-size: cover;
  background-position: top left;
  width: 100%;
}
.fondoBanner6 {
  background: url('/works/olympus/banner.webp') no-repeat;
  background-size: cover;
  background-position: top left;
  width: 100%;
}
.fondoBanner7 {
  background: url('/works/soperia/banner.webp') no-repeat;
  background-size: 240% 100%;
  background-position: top center;
  width: 100%;
}

.fondoBanner8 {
  background: url('/works/birds/banner.webp') no-repeat;
  background-size: cover;
  background-position: top left;
  width: 100%;
}

/* Tablet */
@media (min-width: 640px) {
  .fondoBanner1 {
    background-position: top left;
  }
  .fondoBanner2 {
    background-position: top left;
  }
  .fondoBanner3 {
    background-position: top left;
  }
  .fondoBanner4 {
    background-position: top left;
  }
  .fondoBanner5 {
    background-position: top left;
  }
  .fondoBanner6 {
    background-position: top left;
  }
  .fondoBanner7 {
    background-position: top center;
    background-size: cover;
  }
  .fondoBanner8 {
    background-position: top left;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .fondoBanner1 {
    background-position: top center;
  }
  .fondoBanner2 {
    background-position: top center;
  }
  .fondoBanner3 {
    background-position: top center;
  }
  .fondoBanner4 {
    background-position: top center;
  }
  .fondoBanner5 {
    background-position: center center;
  }
  .fondoBanner6 {
    background-position: center center;
  }
  .fondoBanner7 {
    background-position: center center;
    background-size: cover;
  }
  .fondoBanner8 {
    background-position: center center;
  }
}
